@charset "utf-8";

// Our variables
$base-font-family: "Merriweather", serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$secondary-font-family: "Archivo Narrow", sans-serif;

$spacing-unit: 30px;

$text-color: #000;
$background-color: #fdfdfd;
$brand-color: #000;
$accent-color: #ffe700;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

html {
  font-size: $base-font-size;
}

body {
  background: #f5f5f5;
  .wf-active & {
    font-family: $base-font-family;
  }
}

pre,
code {
  background: #f5f5f5;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $brand-color;
  &:visited {
    color: $brand-color;
  }
  &:hover {
    background-color: $accent-color;
    text-decoration: none;
  }
}

.site-header {
  border-top: 0;

  a {
    border: 0;

    &:hover {
      background-color: none;
    }
  }
}

.site-title,
.site-nav {
  font-family: $secondary-font-family;
}

.site-title {
  background-image: linear-gradient(
    120deg,
    $accent-color 0%,
    $accent-color 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.6rem;
  background-position: 0 70%;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
  }
}

.post-list {
  h2 {
    margin-bottom: 5px;
    font-family: $secondary-font-family;

    a {
      &:hover {
        background: none;
      }
    }
  }

  > li {
    position: relative;
    padding-bottom: 15px;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 1px;
      background: $grey-color-light;
      content: "";
    }
  }
}

.post-title {
  font-family: $secondary-font-family;
}

.post-meta {
  display: block;
}

.post-link {
  border: 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.post-content {
  h2, h3, h4, h5, h6 {
    font-family: $secondary-font-family;
  }
}

.site-footer {
  a {
    border: 0;

    &:hover {
      background: none;
    }
  }
}
