@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #205081;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

body {
    .wf-active & {
        font-family: "Karla";
    }
}

pre,
code {
    background: #f5f5f5;
}

a {
    &:visited {
        color: $brand-color;
    }
}

.site-header {
    border-top-color: $brand-color;
}

.post-list {

    h2 {
        margin-bottom: 5px;
    }

    > li {
        position: relative;
        padding-bottom: 15px;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 50px;
            height: 1px;
            background: $grey-color-light;
            content: "";
        }
    }
}
